.main-container {

}

.search-container {
  height: 60px;
}

.red-box {
  background-color: #D33417;
  height: 60px;
  border-bottom-right-radius: 10px;
}

.search {
  background-color: #23252d;
  height: 60px;
}

.pokemon-container {
  height: 825px;
  padding: 0;
  background-color: #23252d;
  overflow: scroll;
}

.pokemon--padding {
  height: 60px;
}

.pokemon {
  border-top: 1px solid #666;
  padding-left: 20px;
  min-height: 60px;
}

.pokemon:hover {
  cursor: pointer;
}

.pokemon img {
  width: 60px;
}

.pokemon--number {
  color: #666;
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  margin-right: 10px;
}

.pokemon--name {
  color: #bbb;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}


.pokedex-container {
  padding: 0;
}

.pokedex__gameboy--shell {
  padding: 30px 20px;
  background-color: #f00;
  height: 100%;
}

.pokedex__gameboy--outer-screen {
 padding: 50px 75px;
 background-color: #000;
 border-radius: 10px;
}

.pokedex__info {
  padding: 50px;
  background-color: #fff;
  height: 500px;
  overflow: scroll;
  width: 100%;
}
