<!DOCTYPE html>
<html ng-app="pokeApp">
  <head>
    <meta charset="utf-8">
    <title>Pokemon!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body ng-controller="pokeCtrl">

    <div class="main-container">


        <div>
          <p>Search by Name:</p>
          <input ng-model="pokemonName" type="text" name="" value="">
          <button ng-click="getByName()"type="button" name="button">Search</button>
        </div>

        <div>
          <p>Search by ID:</p>
          <input ng-model="pokemonId" type="text" name="" value="">
          <button ng-click="getById()" type="button" name="button">Test</button>
        </div>


      <div class="pokemon-container col-md-3">

          <div class="pokemon" ng-repeat="poke in pokemon" ng-click="getSpecificPokemon( poke.url )">
            <span class="pokemon--number">{{ poke.number }}</span>
            <img ng-src="{{ poke.imageUrl }}" alt="">
            <span class="pokemon--name">{{ poke.name }}</span>
          </div>

        <br>

        <button class="pull-left" ng-click="previousPage()" type="button" name="button">Previous Page</button>
        <button class="pull-right" ng-click="nextPage()" type="button" name="button">Next Page</button>
      </div>

      <div class="pokedex-container">
        <div class="col-md-9">
          <p>{{ specificPokemon.name }}'s base stats are:</p>
          <img ng-src="{{ specificPokemon.sprites.front_default }}" alt="">
          <ul ng-repeat="pokeStat in specificPokemon.stats">

            <li>{{ pokeStat.stat.name }}: {{ pokeStat.base_stat }}</li>
          </ul>

          <p>{{ specificPokemon.name }} can be found at:</p>
          <ul ng-repeat="location in pokeLocation">
            <li>Location: {{ location.area }} | Version: {{ location.version }}</li>
          </ul>
        </div>
      </div>



    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <script src="./js/app.js" charset="utf-8"></script>
     <script src="./js/pokeCtrl.js" charset="utf-8"></script>
     <script src="./js/pokeSvc.js" charset="utf-8"></script>
     <script src="./js/pokemon.js" charset="utf-8"></script>

  </body>
</html>
