<!DOCTYPE html>
<html ng-app="pokeApp">
  <head>
    <meta charset="utf-8">
    <title>Pokemon!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/gameboy.css">
  </head>
  <body ng-controller="pokeCtrl">

    <div class="main-container">


        <div>
          <p>Search by Name:</p>
          <input ng-model="pokemonName" type="text" name="" value="">
          <button ng-click="getByName()"type="button" name="button">Search</button>
        </div>

        <div>
          <p>Search by ID:</p>
          <input ng-model="pokemonId" type="text" name="" value="">
          <button ng-click="getById()" type="button" name="button">Test</button>
        </div>


      <div class="pokemon-container col-md-3">

          <div class="pokemon" ng-repeat="poke in pokemon" ng-click="getSpecificPokemon( poke.url )">
            <span class="pokemon--number">{{ poke.number }}</span>
            <img ng-src="{{ poke.imageUrl }}" alt="">
            <span class="pokemon--name">{{ poke.name }}</span>
          </div>

        <br>

        <button class="pull-left" ng-click="previousPage()" type="button" name="button">Previous Page</button>
        <button class="pull-right" ng-click="nextPage()" type="button" name="button">Next Page</button>
      </div>

      <div class="pokedex-container col-md-9">
        <!-- <div class="pokedex__gameboy--shell">
          <div class="pokedex__gameboy--outer-screen">
            <div class="pokedex__info">
              <p>{{ specificPokemon.name }}'s base stats are:</p>
              <img ng-src="{{ specificPokemon.sprites.front_default }}" alt="">
              <ul ng-repeat="pokeStat in specificPokemon.stats">
                <li>{{ pokeStat.stat.name }}: {{ pokeStat.base_stat }}</li>
              </ul>

              <p>{{ specificPokemon.name }} can be found at:</p>
              <ul ng-repeat="location in pokeLocation">
                <li>Location: {{ location.area }} | Version: {{ location.version }}</li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="gameboy" id="GameBoy">

          <div class="screen-area">

            <div class="power">
              <div class="indicator">
                <div class="led"></div>
                <span class="arc" style="z-index:2"></span>
                <span class="arc" style="z-index:1"></span>
                <span class="arc" style="z-index:0"></span>
              </div>
              POWER
            </div>

            <div class="display" id="mainCanvas">

              <div ng-show="isPokemon">
                <img ng-src="{{ specificPokemon.sprites.front_default }}" alt="">
                <p>Text: {{ pokedexText }}</p>
                <p>{{ specificPokemon.name }}'s base stats are:</p>
                <ul ng-repeat="pokeStat in specificPokemon.stats">
                  <li>{{ pokeStat.stat.name }}: {{ pokeStat.base_stat }}</li>
                </ul>

                <p>{{ specificPokemon.name }} types are:</p>
                <ul ng-repeat="pokeType in specificPokemon.types">
                  <li>{{ pokeType.type.name }}</li>
                </ul>

                <p>{{ specificPokemon.name }} can be found at:</p>
                <ul ng-repeat="location in pokeLocation">
                  <li>Location: {{ location.area }} | Version: {{ location.version }}</li>
                </ul>
              </div>

            </div>

            <div class="label">
              <div class="title">GAME BOY</div>
              <div class="subtitle">
                <span class="c">C</span><!--
             --><span class="o1">O</span><!--
             --><span class="l">L</span><!--
             --><span class="o2">O</span><!--
             --><span class="r">R</span>
              </div>
            </div>

          </div>

          <div class="nintendo">Nintendo</div>

          <div class="controls">
            <div class="dpad">
              <div class="up"><i class="fa fa-caret-up"></i></div>
              <div class="right"><i class="fa fa-caret-right"></i></div>
              <div class="down"><i class="fa fa-caret-down"></i></div>
              <div class="left"><i class="fa fa-caret-left"></i></div>
              <div class="middle"></div>
            </div>
            <div class="a-b">
              <div class="b">B</div>
              <div class="a">A</div>
            </div>
          </div>

          <div class="start-select">
            <div class="select">SELECT</div>
            <div class="start">START</div>
          </div>

          <div class="speaker">
            <div class="dot placeholder"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot placeholder"></div>

            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>

            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>

            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>

            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>

            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>

            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>

            <div class="dot placeholder"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot closed"></div>
            <div class="dot open"></div>
            <div class="dot placeholder"></div>
          </div>

        </div>

      </div>











    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <script src="./js/app.js" charset="utf-8"></script>
     <script src="./js/pokeCtrl.js" charset="utf-8"></script>
     <script src="./js/pokeSvc.js" charset="utf-8"></script>
     <script src="./js/pokemon.js" charset="utf-8"></script>

  </body>
</html>
