<div ng-show="isPokemon">
        <img ng-src="{{ specificPokemon.sprites.front_default }}" alt="">
        <p>Text: {{ pokedexText }}</p>
        <p>{{ specificPokemon.name }}'s base stats are:</p>
        <ul ng-repeat="pokeStat in specificPokemon.stats">
          <li>{{ pokeStat.stat.name }}: {{ pokeStat.base_stat }}</li>
        </ul>

        <p>{{ specificPokemon.name }} types are:</p>
        <ul ng-repeat="pokeType in specificPokemon.types">
          <li>{{ pokeType.type.name }}</li>
        </ul>

        <p>{{ specificPokemon.name }} can be found at:</p>
        <ul ng-repeat="location in pokeLocation">
          <li>Location: {{ location.area }} | Version: {{ location.version }}</li>
        </ul>
      </div>

    </div>
        
               